@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

/*Estos estilos aplican a los textos del home*/
.nameBig {
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
	color: #343434;
}
.bebasFont {
	font-family: 'Bebas Neue', cursive;
}

.cites{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    
}

/*Estilos del navbar*/
.navbar {
    transition: all 0.3s ease-in-out;
}

.fixed-top{
    box-shadow: 0 0 5px 0 #666;
}
.nav-link {
    color: #000000;
    border-bottom: solid transparent 1px;
}

.nav-link:hover{
    color: rgb(255,193,7);
    border-bottom: solid rgb(255,193,7) 1px;
}

/*Este estilo aplica unicamente al interior de los botones del home los de abajo de la cita*/
.btn-outline-warning a{
    text-decoration:  none;
    color: rgb(0, 0, 0) ;
}

.btn-outline-warning a:hover{
    text-decoration:  none;
    color: rgb(0, 0, 0) ;
}

/* Este estilo aplica al main del home y empuja lo mas abajo posible al footer(al resto de elementos)*/
.fpush{
    height: 85vh;
}
@media (max-width: 768px) {
    .fpush {
        height: auto;
    }
}

footer {
    color: #bdbdbd;
}


