p{
    background-color: yellow;
}

a{
    border: 1px solid red;
}

.mi-clase{
    border: 4px solid green;
}

button[type="submit"]{
    background-color: blue;
}

.primerh3{
    color: red;
}

.ultimoli{
    color: green;
}

span{
    color: gray;
}

div{
    border: 3px solid purple;
}

.spanmiclase{
    color: orange;
}

.primerp{
    color: gray
}
